.button {
  height: fit-content;
  padding: 8px 16px;
  background-color: var(--primary);
  color: var(--text-white);
  border-radius: 4px;
  font: unset;
  border: none;
  cursor: pointer;
  transition: all 0.225s ease-in-out;
  outline: none;
}

.button:hover {
  background-color: var(--primary-light);
}

.button:active {
  background-color: var(--primary-dark);
}

.button:focus {
  box-shadow: 0 0 0 4px var(--selected-border);
}
