.virtualList {
  --person-info-height: 168px;
  --person-info-width: 360px;

  position: relative;
  width: var(--person-info-width);
}

.virtualItem {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--person-info-width);
  height: var(--person-info-height);
}
