:root {
  --primary: #e74c3c;
  --primary-light: #e56a57;
  --primary-dark: #c23329;
  --selected-border: pink;
  --selected-background: #ffe8eb;
  --app-background: #f4f4f4;
  --card-background: #fff;
  --text-primary: #333;
  --text-secondary: #666;
  --text-white: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--app-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
